/* Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 62px;
    color: #01001e;
    background-color: #fff;
    border: 1px solid #DCE0E0;
    border-top: none;
    border-right: none;
    border-left: none;
}
/* Logo */
.logo {
    width: 138px;
    height: 61px;
    padding: 15px 5px;
    float: left;
    margin-left: 10px;
}
.booking{
    width: 100%;
}
/* Intro */
.site-content {
    margin: 130px auto;
    width: 940px;
    height: 1500px;
    font-family: Circular, Helvetica, Arial, sans-serif;
}
.title {
    font-size: 46px;
    font-weight: 100;
    color: #01001e;
    margin-bottom: 60px;
}
.title span {
    font-weight: 800;
    color: #354fc1;
}
/* Barre de recherche */
.search-input {
    padding: 10px;
    float: left;
    width: 330px;
    height: 42px;
    border: 1px solid #757575;
    font-size: 16px;
    border-radius: 3px;
    margin-right: 3px;
}
.checks-input {
    float: left;
    width: 330px;
    height: 42px;
    border: 1px solid #757575;
    border-radius: 3px;
    margin-right: 3px;
}
.check-in {
    padding: 2px;
    margin: 5px;
    float: left;
    width: 100px;
    height: 30px;
    border-color: transparent;
    font-size: 16px;
}
.check-in:focus {
    outline: none;
    background-color: #99EDE6;
    border-radius: 4px;
}
.check-in:hover {
    cursor: pointer;
}
.check-out {
    padding: 2px;
    float: right;
    margin-top: 5px;
    margin-right: 70px;
    width: 110px;
    height: 30px;
    border-color: transparent;
    font-size: 16px;
}
.check-out:focus {
    outline: none;
    background-color: #99EDE6;
    border-radius: 4px;
}
.check-out:hover {
    cursor: pointer;
}
.right-arrow {
    fill: currentColor;
    color: #757575;
    margin-top: 7px;
}
.guests {
    float: left;
    width: 100px;
    height: 42px;
    border: 1px solid #757575;
    background-color: #fff;
    font-size: 16px;
    padding: 10px;
}
.search-btn {
    float: left;
    margin-left: 20px;
    width: 150px;
    height: 42px;
    border: 1px solid #354fc1;
    background-color: #354fc1;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
}
.search-btn:hover {
    background-color: #5a74e6;
    cursor: pointer;
}
/* Banderole photos */
.prices {
    width: 953px;
    height: 330px;
    margin-top: 170px;
}
.prices h3 {
    font-weight: 100;
    font-size: 25px;
    color: #01001e;
    margin-left: 5px;
}
.img {
    display: inline-block;
    margin: 30px 5px 0 5px;
}
.img:last-child {
    margin-right: 0;
}
.img img {
    width: 301px;
    height: 206px;
    border-radius: 10px;
}
.prix-photo {
    margin: -200px 0 0 12px;
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    text-shadow: 0 0 6px #3d3d3d;
}
.description {
    margin: 180px 0 0 0;
    font-size: 14px;
    color: #01001e;
}
hr {
    border: 0;
    height: 1px;
    background: #DCE0E0;
    margin-bottom: 55px;
}
.gallery-places h3 {
    font-weight: 100;
    font-size: 25px;
    color: #01001e;
    margin: 0 0 35px 5px;
}
.places {
    height: 680px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
}
.img-x2 {
    width: 460px;
    height: 310px;
    float: left;
    margin: 0 5px 10px 5px;
}
.img-x2 img {
    width: 460px;
    height: 310px;
    display: block;
    border-radius: 10px;
}
.img-x1 {
    width: 225px;
    height: 150px;
    float: left;
    margin: 0 5px 10px 5px;
}
.img-x1:last-child {
    margin-top: -160px;
}
.img-x1 img {
    width: 225px;
    height: 150px;
    display: block;
    border-radius: 10px;
}
.ville {
    margin: -30px 0 0 20px;
    color: #fff;
    font-size: 18px;
}
/* Articles */
.articles {
    display: block;
}
.articles h3 {
    font-weight: 100;
    font-size: 25px;
    color: #01001e;
    margin-left: 5px;
}
.box-3pic {
    float: left;
    width: 305px;
    height: 205px;
    margin: 40px 5px 0 5px;
}
.box-3pic:last-child {
    margin-right: 0;
}
.box-3pic h4 {
    font-size: 14px;
    color: #01001e;
    float: left;
    margin: 5px 5px 0 0;
}
.box-3pic h4 spam {
    margin-left: -1px;
}
.box-3pic p {
    font-size: 14px;
    color: #01001e;
    margin-top: 5px;
    float: left;
}
.img-big {
    float: left;
    margin-top: 3px;
    width: 200px;
    height: 163px;
    border-radius: 10px;
}
.img-small {
    float: right;
    width: 100px;
    height: 80px;
    margin-top: 3px;
    border-radius: 10px;
}
/* Footer */
footer {
    font-family: Circular, Helvetica, Arial, sans-serif;
    margin-top: 300px;
    width: 100%;
    height: 90px;
    background-color: #eef9ff;
}
.footer-content {
    width: 300px;
    margin: 0 auto;
    padding-top: 29px;
}
.footer-content hr {
    background: #01001e;
    margin-bottom: 27px;
}
.footer-row {
    width: 100%;
    height: 30px;
    padding-left: 100px;
    margin-bottom: 20px;
}
.copyright {
    text-align: center;
    color: #010020;
    font-size: 14px;
}
/* Selecteurs */
.selectors {
    float: left;
    width: 250px;
    height: 95px;
    margin-right: 80px;
}
.selectors select {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    background-color: #484848;
    border: none;
    border-radius: 3px;
    color: #fff;
}
.language-selector {
    margin-bottom: 15px;
}
